BOT_TOKEN=your_bot_token_here
ALLOWED_IDS=123456789,987654321
MAX_FILE_SIZE_MB=2000  # Limite download yt-dlp (upload Telegram max 50 MB)
LOG_TO_FILE=false
LOG_FILE_PATH=bot.log
COOKIES_PATH=/app/cookies/cookies.txt
DOWNLOAD_DIR=/app/downloads
